apiVersion: apps/v1
kind: Deployment
metadata:
  name: ecommerce-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ecommerce-api
  template:
    metadata:
      labels:
        app: ecommerce-api
    spec:
      containers:
        - name: api
          image: shaheen14/ecommerce-microservice:1.0
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: ecommerce-config

